# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [8]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [10]:
# Add your code for Question 2 in this code block
data  = pd.read_csv("application_data.csv")
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11
10,538656471,302906015723,2018-12-10,1,13500.0,18.0,45,2019-01-24,2019-01-07
11,067501201,302955909012,2018-12-22,4,19000.0,15.0,60,2019-02-21,2019-01-14
12,779403451,302941503245,2018-12-19,4,59500.0,7.5,180,2019-06-18,2019-01-16
13,706745423,302942096687,2018-12-19,1,32000.0,7.5,180,2019-06-18,2019-01-04
14,175032099,302948765318,2018-12-20,1,8000.0,36.0,45,2019-02-03,2018-12-23
15,756846529,302943137882,2018-12-19,7,16000.0,20.0,60,2019-02-18,2018-12-21
16,910833430,302985391002,2018-12-31,1,40500.0,12.0,120,2019-04-30,2019-01-04
17,789366247,302966696659,2018-12-25,7,9500.0,20.0,30,2019-01-24,2018-12-30
18,946771596,302919159103,2018-12-12,1,11000.0,27.0,45,2019-01-26,2018-12-15
19,363467351,302977645174,2018-12-28,1,11000.0,27.0,45,2019-02-11,2019-01-08
20,380721416,302935257840,2018-12-17,2,11000.0,27.0,45,2019-01-31,2019-01-06
21,476331961,302987067485,2018-12-31,1,11000.0,27.0,45,2019-02-14,2019-01-10
22,098589528,302933833928,2018-12-16,1,11000.0,27.0,45,2019-01-31,2018-12-19
23,063431769,302918179987,2018-12-12,1,11000.0,27.0,45,2019-01-26,2018-12-28
24,021449557,302982821720,2018-12-30,1,11000.0,27.0,45,2019-02-13,2019-01-07
25,826509061,302945064516,2018-12-19,1,11000.0,27.0,45,2019-02-02,2019-01-09
26,153423083,303028288661,2019-01-10,1,11000.0,27.0,45,2019-02-24,2019-01-10
27,369040052,302980904801,2018-12-29,1,11000.0,27.0,45,2019-02-12,2019-01-10
28,301885486,302990564127,2019-01-01,2,11000.0,27.0,45,2019-02-15,2019-01-04
29,134429368,302929098418,2018-12-15,1,11000.0,27.0,45,2019-01-29,2019-01-03
...,...,...,...,...,...,...,...,...,...
970,012739639,301845465315,2018-06-03,5,7500.0,30.0,30,2018-07-03,2018-07-02
971,112612912,302707674,2018-01-29,3,7500.0,30.0,30,2018-02-28,2018-02-10
972,570857620,302918637,2018-03-14,2,7500.0,30.0,30,2018-04-13,2018-04-13
973,237077059,302447948799,2018-09-23,2,7500.0,30.0,30,2018-10-23,2018-10-23
974,981768947,301943354289,2018-06-22,2,7500.0,30.0,30,2018-07-23,2018-07-07
975,950533500,302651153,2018-01-18,2,7500.0,30.0,30,2018-02-17,2018-02-17
976,391025217,302607817,2018-01-08,1,7500.0,30.0,30,2018-02-08,2018-02-09
977,712496621,302515996811,2018-10-04,1,7500.0,30.0,30,2018-11-03,2018-10-17
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20
979,774788130,303200438,2018-05-09,6,7500.0,30.0,30,2018-06-08,2018-05-30
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17
981,706415844,302867467601,2018-12-03,7,7500.0,30.0,30,2019-01-02,2018-12-30
982,620183677,302591220,2018-01-04,2,7500.0,30.0,30,2018-02-03,2018-02-03
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09
984,913548727,302710986,2018-01-30,1,7500.0,30.0,30,2018-03-01,2018-02-19
985,238919660,302923409,2018-03-14,3,7500.0,30.0,30,2018-04-14,2018-04-13
986,671136860,302826707789,2018-11-26,2,7500.0,30.0,30,2018-12-27,2018-12-19
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12
988,764722086,302931308,2018-03-16,2,7500.0,30.0,30,2018-04-15,2018-04-10
989,586613101,302585527,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-02-04
990,242227643,301880401914,2018-06-10,2,7500.0,30.0,30,2018-07-10,2018-07-12
991,078093608,302729421934,2018-11-09,2,7500.0,30.0,30,2018-12-09,2018-11-30
992,063243799,302605265,2018-01-08,2,7500.0,30.0,30,2018-02-07,2018-02-06
993,704294322,302631540,2018-01-14,1,7500.0,30.0,30,2018-02-13,2018-02-05
994,144227648,302582780,2018-01-02,2,7500.0,30.0,30,2018-02-01,2018-02-02
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [14]:
# convert to dates

data["appilcationDate"] = pd.to_datetime(data["appilcationDate"])
data["repaymentDueDate"] = pd.to_datetime(data["repaymentDueDate"])
data["repaymentPaidDate"] = pd.to_datetime(data["repaymentPaidDate"])
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11
10,538656471,302906015723,2018-12-10,1,13500.0,18.0,45,2019-01-24,2019-01-07
11,067501201,302955909012,2018-12-22,4,19000.0,15.0,60,2019-02-21,2019-01-14
12,779403451,302941503245,2018-12-19,4,59500.0,7.5,180,2019-06-18,2019-01-16
13,706745423,302942096687,2018-12-19,1,32000.0,7.5,180,2019-06-18,2019-01-04
14,175032099,302948765318,2018-12-20,1,8000.0,36.0,45,2019-02-03,2018-12-23
15,756846529,302943137882,2018-12-19,7,16000.0,20.0,60,2019-02-18,2018-12-21
16,910833430,302985391002,2018-12-31,1,40500.0,12.0,120,2019-04-30,2019-01-04
17,789366247,302966696659,2018-12-25,7,9500.0,20.0,30,2019-01-24,2018-12-30
18,946771596,302919159103,2018-12-12,1,11000.0,27.0,45,2019-01-26,2018-12-15
19,363467351,302977645174,2018-12-28,1,11000.0,27.0,45,2019-02-11,2019-01-08
20,380721416,302935257840,2018-12-17,2,11000.0,27.0,45,2019-01-31,2019-01-06
21,476331961,302987067485,2018-12-31,1,11000.0,27.0,45,2019-02-14,2019-01-10
22,098589528,302933833928,2018-12-16,1,11000.0,27.0,45,2019-01-31,2018-12-19
23,063431769,302918179987,2018-12-12,1,11000.0,27.0,45,2019-01-26,2018-12-28
24,021449557,302982821720,2018-12-30,1,11000.0,27.0,45,2019-02-13,2019-01-07
25,826509061,302945064516,2018-12-19,1,11000.0,27.0,45,2019-02-02,2019-01-09
26,153423083,303028288661,2019-01-10,1,11000.0,27.0,45,2019-02-24,2019-01-10
27,369040052,302980904801,2018-12-29,1,11000.0,27.0,45,2019-02-12,2019-01-10
28,301885486,302990564127,2019-01-01,2,11000.0,27.0,45,2019-02-15,2019-01-04
29,134429368,302929098418,2018-12-15,1,11000.0,27.0,45,2019-01-29,2019-01-03
...,...,...,...,...,...,...,...,...,...
970,012739639,301845465315,2018-06-03,5,7500.0,30.0,30,2018-07-03,2018-07-02
971,112612912,302707674,2018-01-29,3,7500.0,30.0,30,2018-02-28,2018-02-10
972,570857620,302918637,2018-03-14,2,7500.0,30.0,30,2018-04-13,2018-04-13
973,237077059,302447948799,2018-09-23,2,7500.0,30.0,30,2018-10-23,2018-10-23
974,981768947,301943354289,2018-06-22,2,7500.0,30.0,30,2018-07-23,2018-07-07
975,950533500,302651153,2018-01-18,2,7500.0,30.0,30,2018-02-17,2018-02-17
976,391025217,302607817,2018-01-08,1,7500.0,30.0,30,2018-02-08,2018-02-09
977,712496621,302515996811,2018-10-04,1,7500.0,30.0,30,2018-11-03,2018-10-17
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20
979,774788130,303200438,2018-05-09,6,7500.0,30.0,30,2018-06-08,2018-05-30
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17
981,706415844,302867467601,2018-12-03,7,7500.0,30.0,30,2019-01-02,2018-12-30
982,620183677,302591220,2018-01-04,2,7500.0,30.0,30,2018-02-03,2018-02-03
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09
984,913548727,302710986,2018-01-30,1,7500.0,30.0,30,2018-03-01,2018-02-19
985,238919660,302923409,2018-03-14,3,7500.0,30.0,30,2018-04-14,2018-04-13
986,671136860,302826707789,2018-11-26,2,7500.0,30.0,30,2018-12-27,2018-12-19
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12
988,764722086,302931308,2018-03-16,2,7500.0,30.0,30,2018-04-15,2018-04-10
989,586613101,302585527,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-02-04
990,242227643,301880401914,2018-06-10,2,7500.0,30.0,30,2018-07-10,2018-07-12
991,078093608,302729421934,2018-11-09,2,7500.0,30.0,30,2018-12-09,2018-11-30
992,063243799,302605265,2018-01-08,2,7500.0,30.0,30,2018-02-07,2018-02-06
993,704294322,302631540,2018-01-14,1,7500.0,30.0,30,2018-02-13,2018-02-05
994,144227648,302582780,2018-01-02,2,7500.0,30.0,30,2018-02-01,2018-02-02
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [27]:
# data types
data.info()
#4 data types
data.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
customerID           1000 non-null object
loanId               1000 non-null object
appilcationDate      1000 non-null datetime64[ns]
LoanNumber           1000 non-null int64
LoanAmount           1000 non-null float64
InterestRate         1000 non-null float64
TermDays             1000 non-null int64
repaymentDueDate     1000 non-null datetime64[ns]
repaymentPaidDate    1000 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

customerID                   object
loanId                       object
appilcationDate      datetime64[ns]
LoanNumber                    int64
LoanAmount                  float64
InterestRate                float64
TermDays                      int64
repaymentDueDate     datetime64[ns]
repaymentPaidDate    datetime64[ns]
dtype: object

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [54]:
# 2a avg loan amount

data.columns
loan_amount = data["LoanAmount"]
round(loan_amount.mean(), 2)

13828.08

In [52]:
# 2b avg interest rate
data.columns
interest_rate = data["InterestRate"]
round(interest_rate.mean(), 2)

23.06

In [53]:
# 2c avg term days 
data.columns
term_days = data["TermDays"]
round(term_days.mean(), 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [50]:
# date difference
data_difference = data["repaymentPaidDate"] - data["repaymentDueDate"]
data["dateDifference"] = data_difference
data

# number of loans more than 3 days late
over_3days_late = data[data["dateDifference"].dt.days > 3]
over_3days_late.count()

customerID           145
loanId               145
appilcationDate      145
LoanNumber           145
LoanAmount           145
InterestRate         145
TermDays             145
repaymentDueDate     145
repaymentPaidDate    145
dateDifference       145
dtype: int64

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [64]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
round(data.groupby(['TermDays']).mean()["LoanAmount"], 2)
round(data.groupby(['TermDays']).std()["LoanAmount"], 2)
standard_deviation = round(data.groupby(['TermDays']).std()["LoanAmount"], 2)
mean = round(data.groupby(['TermDays']).mean()["LoanAmount"], 2)
print(standard_deviation)
print(mean)

TermDays
15      2885.97
30      1606.04
45      2346.14
60     11559.65
90     18050.14
120    22192.97
180    34612.22
Name: LoanAmount, dtype: float64
TermDays
15      1274.09
30      7941.96
45     10706.25
60     25710.53
90     37672.73
120    45055.56
180    80988.10
Name: LoanAmount, dtype: float64

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [86]:
# week of year and average number of late days
data
dataframe_by_week = data.groupby('dateDifference').resample('W-Sun', on='appilcationDate').sum().reset_index().sort_values(by='appilcationDate')
dataframe_by_week[dataframe_by_week["appilcationDate"].week == 1]
# dataframe_by_week["appilcationDate"][27].week

AttributeError: 'Series' object has no attribute 'week'

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.